.git
.gitignore
.dockerignore
.env
.env.*
sftp-config.json
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose.*.yml
db.sqlite3
LICENSE
README.md
__pycache__/
venv/
docs/
nginx/
staticfiles/
mediafiles/
