<!doctype html>
<html lang="en">
  <head>
{% include 'includes/head.html' %}
    <title>{% block title %}Hey, CodeGeeks!{% endblock title %}</title>
  </head>
  <body>
{% block app_container %}
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
      {% block app-header %}
{% include 'includes/app-header.html' %}
      {% endblock app-header %}
      {% block app-setting %}
{% include 'includes/app-setting.html' %}
      {% endblock app-setting %}
      {% block app-main %}
      <div class="app-main">
        {% block app-sidebar %}
{% include 'includes/app-sidebar.html' %}
        {% endblock app-sidebar %}
        {% block app-content %}
        <div class="app-main__outer">
          <div class="app-main__inner" style='align-items: stretch'>
            {% block app-content-title %}
            <div class="app-page-title">
              <div class="page-title-wrapper">
                <div class="page-title-heading">

                  <div class="font-icon-wrapper font-icon-lg">
                    <i class="{% block app-content-title-icon-class %}fas fa-grin-beam-sweat icon-gradient bg-arielle-smile{% endblock%}"></i>
                  </div>
{% block app-content-title-context %}{% endblock %}
                </div> <!-- page-title-heading -->
              </div> <!-- page-title-wrapper -->
            </div> <!-- app-page-title -->
            {% endblock app-content-title %}
{% block app-content-body %}{% endblock %}

          </div> <!-- app-main__inner -->
          {% block app-footer %}
          <div class="app-wrapper-footer">
            <div class="app-footer">
              <div class="app-footer__inner">
                <div class="app-footer-left">
{% block app-footer-left %}{% endblock %}
                </div> <!-- app-footer-left -->
                <div class="app-footer-right">
{% include 'includes/app-footer-right.html' %}
                </div>  <!-- app-footer-right -->
              </div> <!-- app-footer__inner -->
            </div> <!-- app-footer -->
          </div> <!-- app-wrapper-footer -->
          {% endblock app-footer %}          
        </div> <!-- app-main__outer -->
        {% endblock app-content %}
      </div> <!-- app-main -->
      {% endblock app-main %}
      {% block app-modal %}{% endblock %}
    </div> <!-- app-container -->
    {% endblock app_container %}
{% include 'includes/scripts.html' %}
    {% block script %}{% endblock %}
  </body>
</html>