<!doctype html>
<html lang="en">
  <head>
{% include 'includes/head.html' %}
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="/static/assets/css/base.css">

    <title>{% block title %}Hey, CodeGeeks!{% endblock title %}</title>
  </head>
  <body>
    <div class="app-container body-tabs-shadow fixed-header fixed-sidebar">
      <!-- begin header -->{% block header %}
{% include 'includes/navbar.html' %}
      {% endblock %}<!-- end header -->
      <!-- begin main -->{% block main %}
      <main class="app-main">
        <!-- begin aside -->{% block aside %}
{% include 'includes/sidebar.html' %}
        {% endblock %}<!-- end aside -->
        <div class="app-main__outer">
          <div class="app-main__inner">
            <!-- begin content -->{% block content %}
            {% block content-head %}<div class="app-page-title{% block content-head-class %}{% endblock %}">
              <div class="page-title-wrapper">
                <div class="page-title-heading">
                  {% block content-head-icon %}<div class="page-title-icon">                    
                    <i class="{% block content-head-icon-class %}fas fa-grin-beam-sweat icon-gradient bg-arielle-smile{% endblock %}"></i>
                  </div>{% endblock %}
                  <div>
                    {% block content-head-context %}{% endblock %}
                  </div>
                </div>
              </div>
            </div>{% endblock %}
            {% block content-body %}<div class="app-page-body{% block content-body-class %}{% endblock %}">
              <div class="page-body-wrapper{% block content-body-context-class %}{% endblock %}">
                {% block content-body-context %}{% endblock %}
              </div>
            </div>{% endblock %}
            {% endblock %}<!-- end content -->  
          </div>
          <!-- begin footer -->
{% include 'includes/footer.html' %}
          <!-- end footer -->
        </div>
      </main>
      {% endblock %}<!-- end main -->
      <!-- begin modal -->{% block modal %}
      {% endblock %}<!-- end modal -->
    </div>
    <!-- begin scripts -->{% block scripts %}
{% include 'includes/scripts.html' %}
    {% endblock %}<!-- end scripts -->
  </body>
</html>