{% extends "layouts/base.html" %}
{% block title %} Error {% endblock %} 

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-11">
    <div class="card">
      <div class="card-header">
        Error 404
      </div>
      <div class="card-body">
        <div class="jumbotron text-center">
          <p class="pt-4"></p>
          <p class="pt-4"></p>
          <h2 class="pt-4">Oops! You're lost.</h4>
          <p class="text-muted h5 pt-4">
            The page you are looking for was not found.
          </p>
          <p class="pt-4"></p>
          <p class="pt-4"></p>
          <p class="pt-4"></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}