{% extends "layouts/base.html" %}
{% block title %} Error {% endblock title %} 
{% block content %}
          <div class="container-fluid">
            <div class="fade-in">
              <div class="card">
                <div class="card-header">
                  <strong>Error 500</strong>
                </div>
                <div class="card-body">
                  <div class="jumbotron text-center">
                    <div class="py-4 my-4"></div>
                      <h2 class="py-3">Houston, we have a problem!</h2>
                      <h4 class="text-muted py-4">The page you are looking for is temporarily unavailable.</h4>
                    <div class="py-4 my-4"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock content %}