<!doctype html>
<html lang="en">
  <head>



  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
-->

<style>
  * {
  margin: 0;
}

body {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-header {
  background: #592E83;
}

.page-main {
  flex-grow: 1;
  background: #331E4D;
}

.page-footer {
  background: #9984D4;
}




</style>


  </head>
  <body>

<div style="margin: 10px 10px 10px 10px">
<div class="wrapper">
  <header class="page-header">Header</header>
  <main class="page-main">Main</main>
  <footer class="page-footer">Footer</footer>
</div>
</div>


    <!-- stuff -->


    <!-- stuff -->

</section>




<!--
    <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar fixed-footer">
      <div class="app-main">
        <div class="app-main__outer">
          <div class="app-main__inner fill-height-or-more">
            <div class="app-page-title">
              <div class="page-title-wrapper">
                <div class="page-title-heading">
                  <div class="font-icon-wrapper font-icon-lg">
                  </div>
                </div> 
              </div>
            </div>
          </div> 
          <div class="app-wrapper-footer">
            <div class="app-footer">
              <div class="app-footer__inner">
                <div class="app-footer-left">
                </div> 
                <div class="app-footer-right">
                </div> 
              </div> 
            </div>
          </div> 
        </div>
      </div> 
    </div> 
  -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>