a,
button,
.btn {
  outline: none !important;
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.table th,
.table td {
  vertical-align: middle;
}

/* Header Base */
.app-header {
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 10;
    transition: all .2s
}

.app-header.header-shadow {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03)
}

.app-header .app-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 0 1.5rem;
    height: 60px
}

.app-header .app-header__content .app-header-left {
    display: flex;
    align-items: center
}

.app-header .app-header__content .header-menu .nav-link {
    color: #6c757d
}

.app-header .app-header__content .header-menu .nav-link i {
    color: #adb5bd
}

.app-header .app-header__content .header-menu .nav-link:hover {
    color: #212529
}

.app-header .app-header__content .app-header-right {
    align-items: center;
    display: flex;
    margin-left: auto
}

.app-header .header-user-info>.widget-heading,
.app-header .header-user-info>.widget-subheading {
    white-space: nowrap
}

.app-header .header-user-info>.widget-subheading {
    font-size: .8rem
}

.app-header__logo {
    padding: 0 1.5rem;
    height: 60px;
    width: 280px;
    display: flex;
    align-items: center;
    transition: width .2s
}

.app-header__logo .logo-src {
    height: 23px;
    width: 97px;
    background: url(/static/assets/img/logo-inverse.png)
}

.app-header__menu,
.app-header__mobile-menu {
    display: none;
    padding: 0 1.5rem;
    height: 60px;
    align-items: center
}

/* Header Modifiers */
.fixed-header .app-header {
    position: fixed;
    width: 100%;
    top: 0
}

.fixed-header .app-header .app-header__logo {
    visibility: visible
}

.fixed-header .app-main {
    padding-top: 60px
}

.fixed-header:not(.fixed-sidebar):not(.closed-sidebar) .app-sidebar .app-header__logo {
    visibility: hidden
}

/* Header Themes: */

/* Sidebar Base */
.app-sidebar {
    width: 280px;
    display: flex;
    z-index: 11;
    overflow: hidden;
    min-width: 280px;
    position: relative;
    flex: 0 0 280px;
    margin-top: -60px;
    padding-top: 60px;
    transition: all .2s
}

.app-sidebar .app-sidebar__inner {
    padding: 2px 1.5rem 1.5rem
}

.app-sidebar .scrollbar-sidebar {
    z-index: 15;
    width: 100%
}

.app-sidebar .app-sidebar-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.05;
    background-size: cover;
    z-index: 10
}

.app-sidebar .app-header__logo {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 11
}

.app-sidebar.sidebar-shadow {
    box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05)
}

.app-sidebar__heading {
    text-transform: uppercase;
    font-size: .8rem;
    margin: .75rem 0;
    font-weight: bold;
    color: #3f6ad8;
    white-space: nowrap;
    position: relative
}

.sidebar-mobile-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: .6;
    left: 0;
    top: 0;
    z-index: 12
}

/* Sidebar Components */
.vertical-nav-menu {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none
}

.vertical-nav-menu::after {
    content: " ";
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.vertical-nav-menu .mm-collapse:not(.mm-show) {
    display: none
}

.vertical-nav-menu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .25s;
    transition-property: height, visibility
}

.vertical-nav-menu ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none
}

.vertical-nav-menu:before {
    opacity: 0;
    transition: opacity 300ms
}

.vertical-nav-menu li a {
    display: block;
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 1.5rem 0 45px;
    position: relative;
    border-radius: .25rem;
    color: #343a40;
    white-space: nowrap;
    transition: all .2s;
    margin: .1rem 0
}

.vertical-nav-menu li a:hover {
    background: #e0f3ff;
    text-decoration: none
}

.vertical-nav-menu li a:hover i.metismenu-icon {
    opacity: .8
}

.vertical-nav-menu li a:hover i.metismenu-state-icon {
    opacity: 1
}

.vertical-nav-menu li.mm-active>a {
    font-weight: bold
}

.vertical-nav-menu li.mm-active>a i.metismenu-state-icon {
    transform: rotate(-180deg)
}

.vertical-nav-menu li a.mm-active {
    color: #343a40;
    background: #e0f3ff;
    font-weight: bold
}

.vertical-nav-menu i.metismenu-state-icon,
.vertical-nav-menu i.metismenu-icon {
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -17px;
    font-size: 1.2rem;
    opacity: .3;
    transition: color 300ms
}

.vertical-nav-menu i.metismenu-state-icon {
    transition: transform 300ms;
    left: auto;
    right: 0
}

.vertical-nav-menu ul {
    transition: padding 300ms;
    padding: .5em 0 0 2rem
}

.vertical-nav-menu ul:before {
    content: '';
    height: 100%;
    opacity: 1;
    width: 3px;
    background: #e0f3ff;
    position: absolute;
    left: 20px;
    top: 0;
    border-radius: 15px
}

.vertical-nav-menu ul>li>a {
    color: #6c757d;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1.5rem 0
}

.vertical-nav-menu ul>li>a:hover {
    color: #3f6ad8
}

.vertical-nav-menu ul>li>a .metismenu-icon {
    display: none
}

.vertical-nav-menu ul>li>a.mm-active {
    color: #3f6ad8;
    background: #e0f3ff;
    font-weight: bold
}

/* Sidebar Themes: Dark, Light */

/* Sidebar Modifiers */
.fixed-sidebar .app-sidebar {
    position: fixed;
    height: 100vh
}

.fixed-sidebar .app-main .app-main__outer {
    z-index: 9;
    padding-left: 280px
}

.fixed-sidebar.fixed-header .app-sidebar .app-header__logo {
    display: none
}

.fixed-sidebar:not(.fixed-header) .app-sidebar .app-header__logo {
    display: flex
}

.fixed-sidebar:not(.fixed-header) .app-header {
    margin-left: 280px
}

.fixed-sidebar:not(.fixed-header) .app-header .app-header__logo {
    display: none
}

.fixed-sidebar.closed-sidebar:not(.fixed-header) .app-header {
    margin-left: 80px
}

.fixed-sidebar.closed-sidebar:not(.fixed-header) .app-sidebar .app-header__logo {
    width: 80px;
    padding: 0
}

.fixed-sidebar.closed-sidebar:not(.fixed-header) .app-sidebar .app-header__logo .logo-src {
    display: none
}

.fixed-sidebar.closed-sidebar:not(.fixed-header) .app-sidebar .app-header__logo .header__pane {
    margin-right: auto
}

/* Closed Sidebar: Sidebar Menu Hover */
.closed-sidebar .app-sidebar {
    transition: all .3s ease;
    width: 80px;
    min-width: 80px;
    flex: 0 0 80px;
    z-index: 13
}

.closed-sidebar .app-sidebar .app-sidebar__inner .app-sidebar__heading {
    text-indent: -999em
}

.closed-sidebar .app-sidebar .app-sidebar__inner .app-sidebar__heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e0f3ff;
    text-indent: 1px
}

.closed-sidebar .app-sidebar .app-sidebar__inner ul li a {
    text-indent: -99rem;
    padding: 0
}

.closed-sidebar .app-sidebar .app-sidebar__inner .metismenu-icon {
    text-indent: 0;
    left: 50%;
    margin-left: -17px
}

.closed-sidebar .app-sidebar .app-sidebar__inner .metismenu-state-icon {
    visibility: hidden
}

.closed-sidebar .app-sidebar .app-sidebar__inner ul::before {
    display: none
}

.closed-sidebar .app-sidebar .app-sidebar__inner ul.mm-show {
    padding: 0
}

.closed-sidebar .app-sidebar .app-sidebar__inner ul.mm-show>li>a {
    height: 0
}

.closed-sidebar .app-sidebar:hover {
    flex: 0 0 280px !important;
    width: 280px !important
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner .app-sidebar__heading {
    text-indent: initial
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner .app-sidebar__heading::before {
    display: none
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul::before {
    display: block
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul li a {
    text-indent: initial;
    padding: 0 1.5rem 0 45px
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner .metismenu-icon {
    text-indent: initial;
    left: 5px;
    margin-left: 0
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner .metismenu-state-icon {
    visibility: visible
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul.mm-show {
    padding: .5em 0 0 2rem
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul.mm-show>li>a {
    height: 2.3em
}

.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul ul li a {
    padding-left: 1em
}

.closed-sidebar:not(.sidebar-mobile-open) .app-sidebar .scrollbar-sidebar {
    position: static;
    height: auto;
    overflow: initial !important
}

.closed-sidebar:not(.sidebar-mobile-open) .app-sidebar:hover .scrollbar-sidebar {
    position: absolute;
    height: 100%;
    overflow: hidden !important
}

.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo {
    width: 80px
}

.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo .logo-src {
    display: none
}

.closed-sidebar:not(.closed-sidebar-mobile) .app-header .app-header__logo .header__pane {
    margin-right: auto
}

.closed-sidebar.fixed-sidebar .app-main__outer {
    padding-left: 80px
}

.closed-sidebar.fixed-header:not(.fixed-sidebar) .app-sidebar .app-header__logo {
    visibility: hidden
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar .app-header__logo,
.closed-sidebar.closed-sidebar-mobile .app-header .app-header__logo {
    width: auto;
    display: flex
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar .app-header__logo .header__pane,
.closed-sidebar.closed-sidebar-mobile .app-header .app-header__logo .header__pane {
    display: none
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar .app-header__logo {
    display: flex;
    width: 80px;
    padding: 0 1.5rem !important
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar .app-header__logo .logo-src {
    display: block !important;
    margin: 0 auto;
    width: 21px
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar .app-header__logo .header__pane {
    display: none
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar:hover .app-header__logo {
    width: 280px
}

.closed-sidebar.closed-sidebar-mobile .app-sidebar:hover .app-header__logo .logo-src {
    width: 97px;
    margin: 0
}

.closed-sidebar.closed-sidebar-mobile .app-header {
    margin-left: 0 !important
}

.closed-sidebar.fixed-footer .app-footer__inner {
    margin-left: 0 !important
}

/* Main Base */
.app-main {
    flex: 1;
    display: flex;
    z-index: 8;
    position: relative
}

.app-main .app-main__outer {
    flex: 1;
    flex-direction: column;
    display: flex;
    z-index: 12
}

.app-main .app-main__inner {
    padding: 30px 30px 0;
    flex: 1
}

/* Main Theme */

/* Footer Base */
.app-footer {
    height: 60px
}

.app-footer .app-footer__inner {
    padding: 0 1.5rem 0 .75rem;
    height: 60px;
    display: flex;
    align-content: center;
    align-items: center
}

.app-footer .app-footer__inner .app-footer-left {
    display: flex;
    align-items: center
}

.app-footer .app-footer__inner .app-footer-right {
    margin-left: auto;
    display: flex
}

/* Footer Modifiers */
.fixed-footer .app-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 7
}

.fixed-footer .app-footer .app-footer__inner {
    margin-left: 280px;
    box-shadow: 0.3rem -0.46875rem 2.1875rem rgba(4, 9, 20, 0.02), 0.3rem -0.9375rem 1.40625rem rgba(4, 9, 20, 0.02), 0.3rem -0.25rem 0.53125rem rgba(4, 9, 20, 0.04), 0.3rem -0.125rem 0.1875rem rgba(4, 9, 20, 0.02)
}

.fixed-footer .app-main .app-main__outer {
    padding-bottom: 60px
}

/* Page title */
.app-page-title {
    padding: 30px;
    margin: -30px -30px 30px;
    position: relative
}

.app-page-title+.body-tabs-layout {
    margin-top: -30px !important
}

.app-page-title .page-title-wrapper {
    position: relative;
    display: flex;
    align-items: center
}

.app-page-title .page-title-heading,
.app-page-title .page-title-subheading {
    margin: 0;
    padding: 0
}

.app-page-title .page-title-heading {
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    align-content: center;
    align-items: center
}

.app-page-title .page-title-subheading {
    padding: 3px 0 0;
    font-size: .88rem;
    opacity: .6
}

.app-page-title .page-title-subheading .breadcrumb {
    padding: 0;
    margin: 3px 0 0;
    background: transparent
}

.app-page-title .page-title-actions {
    margin-left: auto
}

.app-page-title .page-title-actions .breadcrumb {
    margin: 0;
    padding: 0;
    background: transparent
}

.app-page-title .page-title-icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: .83333rem;
    margin: 0 30px 0 0;
    background: #fff;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-radius: .25rem;
    width: 60px;
    height: 60px
}

.app-page-title .page-title-icon i {
    margin: auto
}

.app-page-title .page-title-icon.rounded-circle {
    margin: 0 20px 0 0
}

.app-page-title+.RRT__container {
    margin-top: -23.07692px
}

.app-page-title.app-page-title-simple {
    margin: 0;
    background: none !important;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.page-title-icon-rounded .page-title-icon {
    border-radius: 50px
}

/* Search Box */
.search-wrapper {
    position: relative;
    margin-right: .66667rem
}

.search-wrapper .input-holder {
    height: 42px;
    width: 42px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out
}

.search-wrapper .input-holder .search-input {
    width: 100%;
    padding: 0 70px 0 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    transform: translate(0, 60px);
    transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
    transition-delay: 0.3s;
    font-size: .88rem
}

.search-wrapper .input-holder .search-icon {
    width: 42px;
    height: 42px;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 30px
}

.search-wrapper .input-holder .search-icon span {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: rotate(45deg);
    transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65)
}

.search-wrapper .input-holder .search-icon span::before,
.search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content: ''
}

.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 13px;
    border-radius: 2px;
    background: #3f6ad8
}

.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 4px;
    top: 0;
    border-radius: 16px;
    border: 2px solid #3f6ad8
}

.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    cursor: pointer;
    opacity: 0 !important;
    transform: rotate(-180deg);
    transition: all 0.2s cubic-bezier(0.285, -0.45, 0.935, 0.11);
    transition-delay: 0.1s
}

.search-wrapper .close::before,
.search-wrapper .close::after {
    position: absolute;
    content: '';
    background: #3f6ad8;
    border-radius: 2px
}

.search-wrapper .close::before {
    width: 2px;
    height: 20px;
    left: 9px;
    top: 0
}

.search-wrapper .close::after {
    width: 20px;
    height: 2px;
    left: 0;
    top: 9px
}

.search-wrapper.active {
    width: 330px
}

.search-wrapper.active .input-holder {
    width: 290px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.05);
    transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57)
}

.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 11px)
}

.search-wrapper.active .input-holder .search-icon {
    width: 42px;
    height: 42px;
    margin: 0;
    border-radius: 30px
}

.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg)
}

.search-wrapper.active .close {
    left: 300px;
    opacity: .6 !important;
    transform: rotate(45deg);
    transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
    transition-delay: 0.5s
}

.search-wrapper.active .close:hover {
    opacity: 1 !important
}

.search-wrapper.active+.header-menu {
    opacity: 0
}