.accordion-wrapper {
  border-radius: .25rem;
  border: #e9ecef solid 1px
}

.accordion-wrapper>.card {
  box-shadow: 0 0 0 0 transparent
}

.accordion-wrapper>.card>.card-header {
  padding: 1rem;
  height: auto
}

.accordion-wrapper>.card>.card-header .btn:active,
.accordion-wrapper>.card>.card-header .btn:focus,
.accordion-wrapper>.card>.card-header .btn:hover {
  text-decoration: none
}

.accordion-wrapper>.card>.card-header .form-heading p {
  margin: 0
}

.accordion-wrapper>.card .collapse {
  border-bottom: transparent solid 1px
}

.accordion-wrapper>.card .collapse.show {
  border-bottom-color: #e9ecef
}