
/* Dropdown toggle */
.dropdown-toggle::after {
  position: relative;
  top: 2px;
  opacity: .8
}

.dropright .dropdown-toggle::after {
  top: 0
}

.dropdown-toggle-split {
  border-left: rgba(255, 255, 255, 0.1) solid 1px
}

/* Links */
.btn-outline-primary {
  color: #3f6ad8;
  border-color: #3f6ad8
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #3f6ad8;
  border-color: #3f6ad8
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0 rgba(63, 106, 216, 0.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #3f6ad8;
  background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #3f6ad8;
  border-color: #3f6ad8
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(63, 106, 216, 0.5)
}

.btn-outline-primary.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(63, 106, 216, 0.4), 0 0.0625rem 0.125rem rgba(63, 106, 216, 0.5)
}

.btn-outline-primary.btn-shadow.active:hover,
.btn-outline-primary.btn-shadow.disabled:hover,
.btn-outline-primary.btn-shadow:active:hover,
.btn-outline-primary.btn-shadow:disabled:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(63, 106, 216, 0.5), 0 0.0625rem 0.125rem rgba(63, 106, 216, 0.6)
}

.btn-outline-primary.btn-shadow:hover {
  box-shadow: 0px 5px 15px 2px rgba(63, 106, 216, 0.19)
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.5)
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.5)
}

.btn-outline-secondary.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(108, 117, 125, 0.4), 0 0.0625rem 0.125rem rgba(108, 117, 125, 0.5)
}

.btn-outline-secondary.btn-shadow.active:hover,
.btn-outline-secondary.btn-shadow.disabled:hover,
.btn-outline-secondary.btn-shadow:active:hover,
.btn-outline-secondary.btn-shadow:disabled:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(108, 117, 125, 0.5), 0 0.0625rem 0.125rem rgba(108, 117, 125, 0.6)
}

.btn-outline-secondary.btn-shadow:hover {
  box-shadow: 0px 5px 15px 2px rgba(108, 117, 125, 0.19)
}

.btn-outline-success {
  color: #3ac47d;
  border-color: #3ac47d
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #3ac47d;
  border-color: #3ac47d
}

.btn-outline-success:focus,
.btn-outline-success.focus {
  box-shadow: 0 0 0 0 rgba(58, 196, 125, 0.5)
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #3ac47d;
  background-color: transparent
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #3ac47d;
  border-color: #3ac47d
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(58, 196, 125, 0.5)
}

.btn-outline-success.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(58, 196, 125, 0.4), 0 0.0625rem 0.125rem rgba(58, 196, 125, 0.5)
}

.btn-outline-success.btn-shadow.active:hover,
.btn-outline-success.btn-shadow.disabled:hover,
.btn-outline-success.btn-shadow:active:hover,
.btn-outline-success.btn-shadow:disabled:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(58, 196, 125, 0.5), 0 0.0625rem 0.125rem rgba(58, 196, 125, 0.6)
}

.btn-outline-success.btn-shadow:hover {
  box-shadow: 0px 5px 15px 2px rgba(58, 196, 125, 0.19)
}

.btn-outline-info {
  color: #16aaff;
  border-color: #16aaff
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #16aaff;
  border-color: #16aaff
}

.btn-outline-info:focus,
.btn-outline-info.focus {
  box-shadow: 0 0 0 0 rgba(22, 170, 255, 0.5)
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #16aaff;
  background-color: transparent
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #16aaff;
  border-color: #16aaff
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(22, 170, 255, 0.5)
}

.btn-outline-info.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(22, 170, 255, 0.4), 0 0.0625rem 0.125rem rgba(22, 170, 255, 0.5)
}

.btn-outline-info.btn-shadow.active:hover,
.btn-outline-info.btn-shadow.disabled:hover,
.btn-outline-info.btn-shadow:active:hover,
.btn-outline-info.btn-shadow:disabled:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(22, 170, 255, 0.5), 0 0.0625rem 0.125rem rgba(22, 170, 255, 0.6)
}

.btn-outline-info.btn-shadow:hover {
  box-shadow: 0px 5px 15px 2px rgba(22, 170, 255, 0.19)
}

.btn-outline-warning {
  color: #f7b924;
  border-color: #f7b924
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #f7b924;
  border-color: #f7b924
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
  box-shadow: 0 0 0 0 rgba(247, 185, 36, 0.5)
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: #f7b924;
  background-color: transparent
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show>.btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #f7b924;
  border-color: #f7b924
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(247, 185, 36, 0.5)
}

.btn-outline-warning.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(247, 185, 36, 0.4), 0 0.0625rem 0.125rem rgba(247, 185, 36, 0.5)
}

.btn-outline-warning.btn-shadow.active:hover,
.btn-outline-warning.btn-shadow.disabled:hover,
.btn-outline-warning.btn-shadow:active:hover,
.btn-outline-warning.btn-shadow:disabled:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(247, 185, 36, 0.5), 0 0.0625rem 0.125rem rgba(247, 185, 36, 0.6)
}

.btn-outline-warning.btn-shadow:hover {
  box-shadow: 0px 5px 15px 2px rgba(247, 185, 36, 0.19)
}

.btn-outline-danger {
  color: #d92550;
  border-color: #d92550
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #d92550;
  border-color: #d92550
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
  box-shadow: 0 0 0 0 rgba(217, 37, 80, 0.5)
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #d92550;
  background-color: transparent
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #d92550;
  border-color: #d92550
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(217, 37, 80, 0.5)
}

.btn-outline-danger.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(217, 37, 80, 0.4), 0 0.0625rem 0.125rem rgba(217, 37, 80, 0.5)
}

.btn-outline-danger.btn-shadow.active:hover,
.btn-outline-danger.btn-shadow.disabled:hover,
.btn-outline-danger.btn-shadow:active:hover,
.btn-outline-danger.btn-shadow:disabled:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(217, 37, 80, 0.5), 0 0.0625rem 0.125rem rgba(217, 37, 80, 0.6)
}

.btn-outline-danger.btn-shadow:hover {
  box-shadow: 0px 5px 15px 2px rgba(217, 37, 80, 0.19)
}

.btn-outline-light {
  color: #eee;
  border-color: #eee
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #eee;
  border-color: #eee
}

.btn-outline-light:focus,
.btn-outline-light.focus {
  box-shadow: 0 0 0 0 rgba(238, 238, 238, 0.5)
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: #eee;
  background-color: transparent
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #eee;
  border-color: #eee
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(238, 238, 238, 0.5)
}

.btn-outline-light.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(238, 238, 238, 0.4), 0 0.0625rem 0.125rem rgba(238, 238, 238, 0.5)
}

.btn-outline-light.btn-shadow.active:hover,
.btn-outline-light.btn-shadow.disabled:hover,
.btn-outline-light.btn-shadow:active:hover,
.btn-outline-light.btn-shadow:disabled:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(238, 238, 238, 0.5), 0 0.0625rem 0.125rem rgba(238, 238, 238, 0.6)
}

.btn-outline-light.btn-shadow:hover {
  box-shadow: 0px 5px 15px 2px rgba(238, 238, 238, 0.19)
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
  box-shadow: 0 0 0 0 rgba(52, 58, 64, 0.5)
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(52, 58, 64, 0.5)
}

.btn-outline-dark.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.4), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.5)
}

.btn-outline-dark.btn-shadow.active:hover,
.btn-outline-dark.btn-shadow.disabled:hover,
.btn-outline-dark.btn-shadow:active:hover,
.btn-outline-dark.btn-shadow:disabled:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(52, 58, 64, 0.5), 0 0.0625rem 0.125rem rgba(52, 58, 64, 0.6)
}

.btn-outline-dark.btn-shadow:hover {
  box-shadow: 0px 5px 15px 2px rgba(52, 58, 64, 0.19)
}

.btn-outline-focus {
  color: #444054;
  border-color: #444054
}

.btn-outline-focus:hover {
  color: #fff;
  background-color: #444054;
  border-color: #444054
}

.btn-outline-focus:focus,
.btn-outline-focus.focus {
  box-shadow: 0 0 0 0 rgba(68, 64, 84, 0.5)
}

.btn-outline-focus.disabled,
.btn-outline-focus:disabled {
  color: #444054;
  background-color: transparent
}

.btn-outline-focus:not(:disabled):not(.disabled):active,
.btn-outline-focus:not(:disabled):not(.disabled).active,
.show>.btn-outline-focus.dropdown-toggle {
  color: #fff;
  background-color: #444054;
  border-color: #444054
}

.btn-outline-focus:not(:disabled):not(.disabled):active:focus,
.btn-outline-focus:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-focus.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(68, 64, 84, 0.5)
}

.btn-outline-focus.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(68, 64, 84, 0.4), 0 0.0625rem 0.125rem rgba(68, 64, 84, 0.5)
}

.btn-outline-focus.btn-shadow.active:hover,
.btn-outline-focus.btn-shadow.disabled:hover,
.btn-outline-focus.btn-shadow:active:hover,
.btn-outline-focus.btn-shadow:disabled:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(68, 64, 84, 0.5), 0 0.0625rem 0.125rem rgba(68, 64, 84, 0.6)
}

.btn-outline-focus.btn-shadow:hover {
  box-shadow: 0px 5px 15px 2px rgba(68, 64, 84, 0.19)
}

.btn-outline-alternate {
  color: #794c8a;
  border-color: #794c8a
}

.btn-outline-alternate:hover {
  color: #fff;
  background-color: #794c8a;
  border-color: #794c8a
}

.btn-outline-alternate:focus,
.btn-outline-alternate.focus {
  box-shadow: 0 0 0 0 rgba(121, 76, 138, 0.5)
}

.btn-outline-alternate.disabled,
.btn-outline-alternate:disabled {
  color: #794c8a;
  background-color: transparent
}

.btn-outline-alternate:not(:disabled):not(.disabled):active,
.btn-outline-alternate:not(:disabled):not(.disabled).active,
.show>.btn-outline-alternate.dropdown-toggle {
  color: #fff;
  background-color: #794c8a;
  border-color: #794c8a
}

.btn-outline-alternate:not(:disabled):not(.disabled):active:focus,
.btn-outline-alternate:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-alternate.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(121, 76, 138, 0.5)
}

.btn-outline-alternate.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(121, 76, 138, 0.4), 0 0.0625rem 0.125rem rgba(121, 76, 138, 0.5)
}

.btn-outline-alternate.btn-shadow.active:hover,
.btn-outline-alternate.btn-shadow.disabled:hover,
.btn-outline-alternate.btn-shadow:active:hover,
.btn-outline-alternate.btn-shadow:disabled:hover {
  box-shadow: 0 0.125rem 0.625rem rgba(121, 76, 138, 0.5), 0 0.0625rem 0.125rem rgba(121, 76, 138, 0.6)
}

.btn-outline-alternate.btn-shadow:hover {
  box-shadow: 0px 5px 15px 2px rgba(121, 76, 138, 0.19)
}

.btn {
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  font-size: .8rem
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
      transition: none
  }
}

.btn-light {
  border-color: #dcdcdc
}

.btn-outline-light {
  color: #8f8f8f
}
