.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all .2s
}

.card>.dropdown-menu-header {
  margin: 0
}

.card>.dropdown-menu-header .dropdown-menu-header-inner {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.card.text-dark.text-white .card-footer,
.card.text-dark.text-white .card-header,
.card.text-white .card-footer,
.card.text-white .card-header {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9)
}

.card.text-dark.text-white .card-footer,
.card.text-dark.text-white .card-header {
  color: rgba(0, 0, 0, 0.9)
}

.card .card-footer {
  /* display: flex; */
  align-items: center
}

.btn-actions-pane-right {
  margin-left: auto;
  white-space: nowrap
}

.btn-actions-pane-right a {
  text-transform: none
}

.btn-actions-pane-left {
  margin-right: auto
}

.actions-icon-btn .btn-icon-only {
  padding-left: 0;
  padding-right: 0;
  color: #495057
}

.actions-icon-btn .btn-icon-only .btn-icon-wrapper {
  font-size: 1.3rem;
  width: 30px;
  text-align: center
}

.actions-icon-btn .btn-icon-only:hover {
  color: #3f6ad8
}

.card-header,
.card-title {
  text-transform: uppercase;
  color: rgba(13, 27, 62, 0.7);
  font-weight: bold;
  font-size: .88rem
}

.card-header {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: .625rem;
  height: 3.5rem
}

.card-header.no-border {
  border: 0;
  padding: 0;
  height: auto
}

.card-header .menu-header-subtitle {
  display: block
}

.card-header.card-header-tab .nav {
  width: auto;
  margin-left: auto
}

.card-header.card-header-tab .card-header-title {
  display: flex;
  align-items: center;
  white-space: nowrap
}

.card-header .header-icon {
  font-size: 1.65rem;
  margin-right: .625rem
}

.card-header>.nav {
  margin-left: -.625rem;
  height: 100%;
  width: 100%
}

.card-header>.nav .nav-item {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center
}

.card-header>.nav .nav-link {
  text-transform: none;
  width: 100%;
  display: block;
  color: #495057
}

.card-header>.nav .nav-link::before {
  content: '';
  border-radius: 15px;
  background: #3f6ad8;
  transition: all .2s;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
  opacity: 0
}

.card-header>.nav .nav-link:hover {
  color: #3f6ad8
}

.card-header>.nav .nav-link.active {
  color: #3f6ad8
}

.card-header>.nav .nav-link.active::before {
  opacity: 1
}

.card-border {
  box-shadow: 0 0 0 transparent;
  border-width: 1px
}

.card-subtitle {
  margin-bottom: .75rem;
  font-size: .968rem;
  color: rgba(13, 27, 62, 0.55)
}

.card-shadow-primary {
  box-shadow: 0 0.46875rem 2.1875rem rgba(63, 106, 216, 0.03), 0 0.9375rem 1.40625rem rgba(63, 106, 216, 0.03), 0 0.25rem 0.53125rem rgba(63, 106, 216, 0.05), 0 0.125rem 0.1875rem rgba(63, 106, 216, 0.03)
}

.card-shadow-secondary {
  box-shadow: 0 0.46875rem 2.1875rem rgba(108, 117, 125, 0.03), 0 0.9375rem 1.40625rem rgba(108, 117, 125, 0.03), 0 0.25rem 0.53125rem rgba(108, 117, 125, 0.05), 0 0.125rem 0.1875rem rgba(108, 117, 125, 0.03)
}

.card-shadow-success {
  box-shadow: 0 0.46875rem 2.1875rem rgba(58, 196, 125, 0.03), 0 0.9375rem 1.40625rem rgba(58, 196, 125, 0.03), 0 0.25rem 0.53125rem rgba(58, 196, 125, 0.05), 0 0.125rem 0.1875rem rgba(58, 196, 125, 0.03)
}

.card-shadow-info {
  box-shadow: 0 0.46875rem 2.1875rem rgba(22, 170, 255, 0.03), 0 0.9375rem 1.40625rem rgba(22, 170, 255, 0.03), 0 0.25rem 0.53125rem rgba(22, 170, 255, 0.05), 0 0.125rem 0.1875rem rgba(22, 170, 255, 0.03)
}

.card-shadow-warning {
  box-shadow: 0 0.46875rem 2.1875rem rgba(247, 185, 36, 0.03), 0 0.9375rem 1.40625rem rgba(247, 185, 36, 0.03), 0 0.25rem 0.53125rem rgba(247, 185, 36, 0.05), 0 0.125rem 0.1875rem rgba(247, 185, 36, 0.03)
}

.card-shadow-danger {
  box-shadow: 0 0.46875rem 2.1875rem rgba(217, 37, 80, 0.03), 0 0.9375rem 1.40625rem rgba(217, 37, 80, 0.03), 0 0.25rem 0.53125rem rgba(217, 37, 80, 0.05), 0 0.125rem 0.1875rem rgba(217, 37, 80, 0.03)
}

.card-shadow-light {
  box-shadow: 0 0.46875rem 2.1875rem rgba(238, 238, 238, 0.03), 0 0.9375rem 1.40625rem rgba(238, 238, 238, 0.03), 0 0.25rem 0.53125rem rgba(238, 238, 238, 0.05), 0 0.125rem 0.1875rem rgba(238, 238, 238, 0.03)
}

.card-shadow-dark {
  box-shadow: 0 0.46875rem 2.1875rem rgba(52, 58, 64, 0.03), 0 0.9375rem 1.40625rem rgba(52, 58, 64, 0.03), 0 0.25rem 0.53125rem rgba(52, 58, 64, 0.05), 0 0.125rem 0.1875rem rgba(52, 58, 64, 0.03)
}

.card-shadow-focus {
  box-shadow: 0 0.46875rem 2.1875rem rgba(68, 64, 84, 0.03), 0 0.9375rem 1.40625rem rgba(68, 64, 84, 0.03), 0 0.25rem 0.53125rem rgba(68, 64, 84, 0.05), 0 0.125rem 0.1875rem rgba(68, 64, 84, 0.03)
}

.card-shadow-alternate {
  box-shadow: 0 0.46875rem 2.1875rem rgba(121, 76, 138, 0.03), 0 0.9375rem 1.40625rem rgba(121, 76, 138, 0.03), 0 0.25rem 0.53125rem rgba(121, 76, 138, 0.05), 0 0.125rem 0.1875rem rgba(121, 76, 138, 0.03)
}

/* Large Card Header */
.card-header-lg {
  padding: 1.5rem 2.5rem;
  height: auto
}