.dropdown-menu {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  margin: .125rem
}

.dropdown-menu.dropdown-menu-right {
  right: 0 !important
}

.dropdown-menu .dropdown-header {
  text-transform: uppercase;
  font-size: .73333rem;
  color: /*#3f6ad8*/ #16aaff;
  font-weight: bold
}

.dropdown-menu .dropdown-item {
  font-size: .88rem;
  display: flex;
  align-items: center;  
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  z-index: 6;
  position: relative
  ; color: #16aaff;
}

.dropdown-menu .dropdown-item:hover {
  background: #e0f3ff;
  text-decoration: none
}

.dropdown-menu .dropdown-item .dropdown-icon {
  font-size: 1rem;
  margin-right: .325rem;
  width: 30px;
  text-align: center;
  opacity: .3;
  margin-left: -10px
}

.dropdown-menu .dropdown-item:hover .dropdown-icon {
  opacity: .7
  ; background: #0098ef;
}

.dropdown-menu.dropdown-menu-shadow {
  box-shadow: 0 0.66875rem 2.3875rem rgba(4, 9, 20, 0.03), 0 1.1375rem 1.60625rem rgba(4, 9, 20, 0.03), 0 0.45rem 0.73125rem rgba(4, 9, 20, 0.05), 0 0.325rem 0.3875rem rgba(4, 9, 20, 0.03)
}

.dropdown-toggle::after {
  position: relative;
  top: 2px;
  opacity: .8;
  margin-left: 5px
}

.dropdown-toggle-split::after {
  margin-left: 0
}

.dropright .dropdown-toggle::after {
  top: 0
}

.dropdown-toggle-split {
  border-left: rgba(255, 255, 255, 0.1) solid 2px
}