legend {
  font-size: .88rem;
  font-weight: bold
}

.form-heading {
  font-size: 1.1rem;
  margin: 0;
  color: #3f6ad8
}

.form-heading p {
  color: #6c757d;
  padding: 0.3rem 0 0;
  font-size: .88rem
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none
}
