.list-group-flush+.card-footer {
  border-top: 0
}

.rm-list-borders .list-group-item {
  border: 0;
  padding: .5rem 0
}

.rm-list-borders-scroll .list-group-item {
  border: 0;
  padding-right: 1.125rem
}