{% extends "base.html" %}
{% block title %}Project List{% endblock title %}

{% block content-head-icon-class %}fa fa-list icon-gradient bg-malibu-beach{% endblock %}
{% block content-head-context %}Project List
                    <div class="page-title-subheading">
                      Currently, there are only sample projects.
                    </div>{% endblock %}

{% block content-body-context-class %} flex-wrap{% endblock %}
{% block content-body-context %}
                {% for project in object_list %}<div class="col-sm-4 col-md-3 my-3">
                  <div class="card card-shadow-info border border-info">
                    <div class="embed-responsive embed-responsive-16by9">
                      <img class="card-img-top embed-responsive-item" src="{{ project.image.url }}" alt="Card image">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ project.title }}</h5>
                      <p style="height: 40px;">{{ project.description | slice:":40" }}</p>
                      <div class="text-right mt-n2 mb-1"><small>{{ project.framework }}</small></div>
                      <div class="text-right mr-n2"><a href="{% url 'projects:detail' project.pk %}" class="btn btn-info" style='width: 100px'>Read More</a></div>
                    </div>
                  </div>
                </div>
                {% endfor %}{% endblock %}