{% extends "layouts/base.html" %}
{% block title %} Login {% endblock %} 

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">

        <div class="card-header">
          <div class="row">
            <svg class="c-icon c-icon-2xl ml-3">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-exit-to-app"></use>
            </svg> <span class="ml-3 h2">Login</span>
          </div>
        </div>

        <div class="card-body">
          <form role="form" method="post" action="">
            {% csrf_token %}
              <p class="text-muted">
                {% if msg %}
                  <div class="alert alert-warning" role="alert">{{ msg | safe }}</div>
                {% endif %}
              </p>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                      </svg>
                    </span>
                  </div>
                  {{ form.username }}
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                      </svg>
                    </span>
                  </div>
                  {{ form.password }}
                </div>
              </div>

              <br/>
              <div class="form-group form-actions text-center">
                <button class="btn btn-primary btn-success px-4" type="submit" name="login">Continue</button>
              </div>
          </form>
        </div>

        <div class="card-footer p-4 text-center">
            <p>Don't you have an account?</p>
            <button class="btn btn-primary btn-success px-4" type="button" onclick="location.href='{% url 'register' %}'">
              Register
            </button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}