
/*.app-header {
    border-style: dashed;
    border-color: lightsalmon;
    opacity: 0.7;
}*/

/*.app-header .app-header__content {
    border-style: dashed;
    border-color: red;
    opacity: 0.7;
}*/

/*.app-sidebar {
    border-style: dashed;
    border-color: darkorange;
    opacity: 0.9;
}*/

/*.app-main {
    border-style: dashed;
    border-color: deepskyblue;
    background-color: lightcyan;
    opacity: 0.7;
}*/

/*.app-main .app-main__outer {
    border-style: dashed;
    border-color: honeydew;
    opacity: 0.9;
}*/

/*.app-main .app-main__inner {
    border-style: dashed;
    border-color: gold;
    background-color: lightgray;
    opacity: 0.9;
}*/

.app-footer {
    background-color: lightcoral; 
    opacity: 0.9;
}

/*.app-page-title {
    background-color: ivory; 
    opacity: 0.9;
}*/

/*.app-page-title .page-title-wrapper {
    background-color: ivory; 
    opacity: 0.9;
}*/

/*.app-page-title .page-title-heading {
    border-color: darkblue; 
    opacity: 0.9;
}*/

/*.app-page-title .page-title-icon {
    border-color: darkorange; 
    opacity: 0.9;
}*/

/*.app-page-title .page-title-actions {
    border-color: darkorange; 
    opacity: 0.9;
}*/

/*.app-page-body {
    background-color: linen;
    opacity: 0.9;
}*/

/*.app-page-body .page-body-wrapper {
    border-color: pink; 
    background-color: ivory;
    opacity: 0.9;
}*/