.app-footer {
    height: 60px
}

.app-footer .app-footer__inner {
    padding: 0 1.5rem 0 .75rem;
    height: 60px;
    display: flex;
    align-content: center;
    align-items: center
}

.app-footer .app-footer__inner .app-footer-left {
    display: flex;
    align-items: center
}

.app-footer .app-footer__inner .app-footer-right {
    margin-left: auto;
    display: flex
}