.app-header {
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 10;
    transition: all .2s
}

.app-header.header-shadow {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03)
}

.app-header .app-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 0 1.5rem;
    height: 60px
}

.app-header .app-header__content .app-header-left {
    display: flex;
    align-items: center
}

.app-header .app-header__content .header-menu .nav-link {
    color: /*#6c757d*/#16aaff
}

.app-header .app-header__content .header-menu .nav-link i {
    color: /*#adb5bd*/#16aaff
}

.app-header .app-header__content .header-menu .nav-link:hover {
    color: /*#212529*/#0098ef
}

.app-header .app-header__content .app-header-right {
    align-items: center;
    display: flex;
    margin-left: auto
}

.app-header .header-user-info>.widget-heading,
.app-header .header-user-info>.widget-subheading {
    white-space: nowrap
}

.app-header .header-user-info>.widget-subheading {
    font-size: .8rem
}

.app-header__logo {
    padding: 0 1.5rem;
    height: 60px;
    width: 280px;
    display: flex;
    align-items: center;
    transition: width .2s
}

.app-header__logo .logo-src {
    height: 23px;
    width: 97px;
    background: url(/static/assets/img/logo-inverse.png)
}

.app-header__menu,
.app-header__mobile-menu {
    display: none;
    padding: 0 1.5rem;
    height: 60px;
    align-items: center
}