.fixed-header .app-header {
    position: fixed;
    width: 100%;
    top: 0
}

.fixed-header .app-header .app-header__logo {
    visibility: visible
}

.fixed-header .app-main {
    padding-top: 60px
}

.fixed-header:not(.fixed-sidebar):not(.closed-sidebar) .app-sidebar .app-header__logo {
    visibility: hidden
}