/* Extra small devices (portrait phones, less than 576px) */
.app-page-title {
    text-align: center
}

.app-main .app-main__inner {
    border-style: dashed;
    border-color: gold; 
    background-color: lightpink;
    opacity: 0.9;
}

.app-page-title .page-title-icon {
    display: none
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .app-main .app-main__inner {
        border-style: dashed;
        border-color: gold; 
        background-color: lightskyblue;
        opacity: 0.9;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .app-main .app-main__inner {
        border-style: dashed;
        border-color: gold; 
        background-color: lightgoldenrodyellow;
        opacity: 0.9;
    }

    .app-page-title {
        text-align: left
    }

    .app-page-title .page-title-icon {
        display: flex;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .app-main .app-main__inner {
        border-style: dashed;
        border-color: gold; 
        background-color: lightseagreen;
        opacity: 0.9;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .app-main .app-main__inner {
        border-style: dashed;
        border-color: gold; 
        background-color: white;
        opacity: 0.9;
    }
}
