.search-wrapper {
    position: relative;
    margin-right: .66667rem
}

.search-wrapper .input-holder {
    height: 42px;
    width: 42px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out
}

.search-wrapper .input-holder .search-input {
    width: 100%;
    padding: 0 70px 0 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    transform: translate(0, 60px);
    transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
    transition-delay: 0.3s;
    font-size: .88rem
}

.search-wrapper .input-holder .search-icon {
    width: 42px;
    height: 42px;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    z-index: 2;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 30px
}

.search-wrapper .input-holder .search-icon span {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: rotate(45deg);
    transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65)
}

.search-wrapper .input-holder .search-icon span::before,
.search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content: ''
}

.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 13px;
    border-radius: 2px;
    background: #3f6ad8
}

.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 4px;
    top: 0;
    border-radius: 16px;
    border: 2px solid #3f6ad8
}

.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    cursor: pointer;
    opacity: 0 !important;
    transform: rotate(-180deg);
    transition: all 0.2s cubic-bezier(0.285, -0.45, 0.935, 0.11);
    transition-delay: 0.1s
}

.search-wrapper .close::before,
.search-wrapper .close::after {
    position: absolute;
    content: '';
    background: #3f6ad8;
    border-radius: 2px
}

.search-wrapper .close::before {
    width: 2px;
    height: 20px;
    left: 9px;
    top: 0
}

.search-wrapper .close::after {
    width: 20px;
    height: 2px;
    left: 0;
    top: 9px
}

.search-wrapper.active {
    width: 330px
}

.search-wrapper.active .input-holder {
    width: 290px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.05);
    transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57)
}

.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 11px)
}

.search-wrapper.active .input-holder .search-icon {
    width: 42px;
    height: 42px;
    margin: 0;
    border-radius: 30px
}

.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg)
}

.search-wrapper.active .close {
    left: 300px;
    opacity: .6 !important;
    transform: rotate(45deg);
    transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
    transition-delay: 0.5s
}

.search-wrapper.active .close:hover {
    opacity: 1 !important
}

.search-wrapper.active+.header-menu {
    opacity: 0
}