{% extends 'base.html' %}
{% block content %}
{% load static %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Django Portfolio Website</h1>
                <p class="lead text-muted">Hi, my name is Younghwan Mun.<br/>I am currently learning about Django framework.</p>
                <img src="{% static 'example/jobs/images/me.png' %}" alt="Me" height=300>
                <p>
                    <a href="mailto:mcodegeeks@gmail.com" class="btn btn-primary my-2">Email Me</a>
                </p>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <p>Practicing examples:</p>
            <ul>
                <li><a href="{% url 'adoptions:index' %}">Linkedin Learning: Learning Django</a></li>
                <li><a href="{% url 'jobs:index' %}">Linkedin Learning: Building a Personal Portfolio with Django</a></li>
                <li><a href="{% url 'hashing:index' %}">Linkedin Learning: Test-Driven Development in Django</a></li>
                <li><a href="{% url 'pizza:index' %}">Linkedin Learning: Django: Forms</a></li>
                <li><a href="{% url 'store:api_products' %}">Linkedin Learning: Building RESTful Web APIs with Django</a></li>
                <li><a href="{% url 'store:index' %}">Linkedin Learning: Store Page</a></li>
                <li><a href="{% url 'file_upload:index' %}">File Upload</a></li>                
            </ul>
        </div>
    </div>
{% endblock %}
