{% extends "base.html" %}
{% block title %}Blog - {{ post.title }}{% endblock title %}

{% block content-head-icon-class %}fas fa-pencil-alt icon-gradient bg-grow-early{% endblock %}
{% block content-head-context %}{{ post.title }}
                    <div class="page-title-subheading">
                      <div class="page-title-actions">
                        <small>
                          {{ post.updated.date }} {{ post.updated.time }}, Categories:{% for category in post.categories.all %}
                          <a href="#">{{ category.name }}</a>{% endfor %}
                        </small>
                      </div>
                    </div>{% endblock %}

{% block content-body-context-class %} justify-content-center align-items-center{% endblock %}
{% block content-body-context %}<div class="col-sm-12 col-md-10">
                  <div class="card card-shadow-info border border-info my-2">
                    <div class="card-body">
                      <p>{{ post.body | linebreaks }}</p>
                    </div>
                    <div class="card-footer px-5 py-4">
                        <p><strong>Leave a comment:</strong></p>
                        <form class="d-label text-center" method="post">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                    {% if comments %}<div class="card-footer px-5 py-4">
                      <strong>Comments:</strong>
                      {% for comment in comments %}<div class="chat-box-wrapper">
                        <div class="avatar-icon-wrapper mr-1">
                          <div class="avatar-icon avatar-icon-lg rounded">
                            <img src="/static/assets/img/avatars/2.jpg">
                          </div>
                        </div>
                        <div>
                        <div class="chat-box mt-1">{{ comment.body }}</div>
                          <small class="opacity-6">
                            <i class="fa fa-calendar-alt mr-1"></i>
                            On {{ comment.created.date }} {{ comment.created.time }}&nbsp;<b>{{ comment.author }}</b> wrote:
                          </small>
                        </div>
                      </div>{% endfor %}
                    </div>{% endif %}
                  </div>
                </div>{% endblock %}