{% extends "base.html" %}
{% block title %}Blog List{% endblock title %}

{% block content-head-icon-class %}fas fa-pencil-alt icon-gradient bg-grow-early{% endblock %}
{% block content-head-context %}Blog List
                    <div class="page-title-subheading">
                      This is a simple blog page.
                    </div>{% endblock %}
{% block content-body-context-class %} flex-column{% endblock %}
{% block content-body-context %}
                {% for post in object_list %}<div class="card card-shadow-info border border-info my-2">
                  <div class="card-header">
                    <a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a>
                    <div class="btn-actions-pane-right text-right mr-2">
                      <div>
                        <small>{% for category in post.categories.all %}
                            <a href="#">{{ category.name }}</a>{% endfor %}
                        </small>
                      </div>
                      <div>
                        <small>{{ post.updated.date }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <p>{{ post.body | slice:":400" }}...</p>
                  </div>
                </div>
                {% endfor %}{% endblock %}