{% extends "base.html" %}
{% block title %}Blog{% endblock title %} 

{% block app-content-title-icon-class %}fas fa-pencil-alt icon-gradient bg-grow-early{% endblock %}
{% block app-content-title-context %}
                  <div>
                    Blog
                    <div class="page-title-subheading">This is a simple blog page.</div>
                  </div>
{% endblock %}

{% block app-content-body %}
            <div class="row">
              {% for post in object_list %}
              <div class="col-md-12">
                <div class="card card-shadow-info border border-success mb-4">
                  <div class="card-header text-capitalize">
                    <a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a>
                    <div class="btn-actions-pane-right text-right mr-2">
                      <div>
                        <small>
                          {% for category in post.categories.all %}
                            <a href="#">{{ category.name }}</a>
                          {% endfor %}
                        </small>
                      </div>
                      <div>
                        <small>{{ post.updated.date }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <p>{{ post.body | slice:":400" }}...</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div> <!-- app-content-body -->
{% endblock %}