      <div class="app-header header-shadow">
        <div class="app-header__logo">
          <div class="header__pane ml-auto">
            <div>
              <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="app-header__mobile-menu">
          <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
        <div class="app-header__menu">
          <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
              <span class="btn-icon-wrapper">
                <i class="fa fa-ellipsis-v fa-w-6"></i>
              </span>
            </button>
          </span>
        </div> <!-- app-header logo -->
        <div class="app-header__content">
          <div class="app-header-left">
            <ul class="header-menu nav">
              <li class="btn-group nav-item">
                <a href="{% url 'main:index' %}" class="nav-link text-info">
                  <i class="nav-link-icon fa fa-home text-info"></i>Home
                </a>
              </li>
              <li class="btn-group nav-item">
                <a href="{% url 'blog:index' %}" class="nav-link text-info">
                  <i class="nav-link-icon fas fa-pencil-alt text-info"></i>Blog
                </a>
              </li>
              <li class="btn-group nav-item">
                <a href="{% url 'projects:project-list' %}" class="nav-link text-info">
                  <i class="nav-link-icon fa fa-list text-info"></i>Projects
                </a>
              </li>
              <li class="btn-group nav-item text-info">
                <div class="btn-group">
                  <a class="nav-link text-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="nav-link-icon fas fa-font text-info"></i>REST APIs
                  </a>
                  <ul class="dropdown-menu">
                    <a class="dropdown-item" href="/api/v1">API Root</a>
                    <a class="dropdown-item" href="/api/v1/projects">Project List</a>
                  </ul>
                </div>
              </li>
            </ul>
          </div> <!-- app-header-left -->
          <div class="app-header-right">
            <ul class="header-menu nav">
              {% if user.is_authenticated %}
              <li class="btn-group nav-item">
                <a class="nav-link btn btn-outline-danger text-dark" href="{% url 'main:logout' %}">
                  <i class="nav-link-icon fas fa-power-off text-warning"></i>Logout
                </a>
              </li>
              {% else %}
              <li class="btn-group nav-item">
                <a class="nav-link btn btn-outline-warning text-info" href="{% url 'main:login' %}">
                  <i class="nav-link-icon fas fa-user-lock text-info"></i>Login
                </a>
              </li>
              {% endif %}
            </ul>
          </div> <!-- app-header-right -->
        </div> <!-- app-header content -->
      </div> <!-- app-header -->