          <div class="app-wrapper-footer">
            <div class="app-footer">
              <div class="app-footer__inner">
                <div class="app-footer-left"></div>
                <div class="app-footer-right">
                  <ul class="nav">
                    <li class="nav-item">
                        &copy; 2020 <a target="_blank" href="{% url 'main:index' %}">Hey, CodeGeeks!</a>           
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>